/* The sidebar menu */
.sidenav {
    width: 160px;

    /* Set the width of the sidebar */
    position: fixed;

    /* Fixed Sidebar (stay in place on scroll) */
    background-color: #0;

    /* Black */
    overflow-x: hidden;

    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: "Helvetica";
}

div.sidenav a.selected {
    color: #f1f1f1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px;

    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.main a {
    font-size: 25px;
    color: #f1f1f1;
    font-family: "helvetica";
}

/* .main span class + */
span.zero {
    font-size: 50px;
    color: #f1f1f1;
    font-family: "helvetica";
}

span.one {
    font-size: 25px;
    color: #f1f1f1;
    font-family: "helvetica";
}

span.two {
    font-size: 15px;
    color: #f1f1f1;
    font-family: "helvetica";
}

span.year {
    font-size: 14px;
    color: #818181;
    font-family: "helvetica";
}

img {
    display: block;
}

.soso,
.soso img {
    max-width: 100%;
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.good,
.good img {
    max-width: 100%;
    width: 200px;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

footer {
    display: block;
}}